body {
    margin: 0px
}
a{
    text-decoration: none;
    color: black;
}
.header-txt{
    padding-left: 10px;
    padding-right: 10px;
}
a:hover{
    cursor: none;
}
#ytplayer{
    width: 100%;
    height: 410px;
    margin-bottom: 20px;
}
.undefined-video {
    width: 100%;
    height: 410px;
    background-image: url('../maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.calendar{
    margin: 0 auto;
}
@media only screen and (min-width: 992px) {
    #ytplayer{
        width: 720px;
        margin-left: 20px;
    }
    .undefined-video {
        width: 720px;
        margin-left: 20px;
    }
    .events {
        width: 40%;
    }
    .live-date {
        display: flex;
    }
    .date{
        margin-left: auto;
        padding-right: 100px;
    }
    .calendar {
        margin-top: 50px;
    }
  }

.section-heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.divider {
    border-bottom: 2px solid #3f51b5;
    padding-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    margin: 0 auto;
}

.search {
    margin: 5px;
}
.search-icon:hover {
    color: #3f51b5;
    cursor: pointer;
}
@media only screen and (min-width: 630px) {
    .search-icon {
        color: white;
    }
    .search-icon:hover{
        color: white;
    }
    .search *{
        margin-left: 15px;
        color: white !important;
        border: none !important;
        padding: 7px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
    }
    .search > * {
        background-color: #002D6D;
    }
    .search-input {
        color: white;
    }
  }

.home-icon {
   margin-left: auto;
}
.home-icon:hover{
    cursor: pointer;
}
